.reactPureGrid {
  min-width: 100%;
  width: auto;
}

.reactPureGrid.reactPureGridSpaced {
  margin-right: -20px
}

.reactPureGrid.reactPureGridSpaced:last-child {
  margin-bottom: -20px
}

.reactPureGrid.reactPureGridSpaced > [class*="pure-u"] {
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.reactPureGrid.stretch > [class*="pure-u"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 35.5em) {
  .reactPureGrid.sm-reactPureGridSpaced { margin-right: 0 !important }
  .reactPureGrid.sm-reactPureGridSpaced > [class*="pure-u"] { border-right: 0 !important }
}

@media screen and (max-width: 48em) {
  .reactPureGrid.md-reactPureGridSpaced { margin-right: 0 !important }
  .reactPureGrid.md-reactPureGridSpaced > [class*="pure-u"] { border-right: 0 !important }
}

@media screen and (max-width: 56em) {
  .reactPureGrid.lg-reactPureGridSpaced { margin-right: 0 !important }
  .reactPureGrid.lg-reactPureGridSpaced > [class*="pure-u"] { border-right: 0 !important }
}

@media screen and (max-width: 64em) {
  .reactPureGrid.xl-reactPureGridSpaced { margin-right: 0 !important }
  .reactPureGrid.xl-reactPureGridSpaced > [class*="pure-u"] { border-right: 0 !important }
}